@import '@/styles/base';
.tabsPro {
	margin-left: 18px;
	height: @header-height;
	overflow-x: scroll;
	overflow-y: hidden;
		&::-webkit-scrollbar {
			width: 1px;
			height: 4px;
			/**/
		}
		&::-webkit-scrollbar-track {
			background: #c1c1c1;
			border-radius: 2px;
		}
		&::-webkit-scrollbar-thumb {
			background: #444;
			border-radius: 2px;
		}
		&::-webkit-scrollbar-thumb:hover {
			background: #999;
		}
		&::-webkit-scrollbar-corner {
			background: #204754;
		}
	
}

.contextMenu {
	position: fixed;
	z-index: 2;
	background-color: white;
	// border: 1px solid #d9d9d9;
	border-radius: 4px;

	> div {
		cursor: pointer;
		padding: 4px 12px;
		border-bottom: 1px solid #d9d9d9;
		transition: all 0.3s;

		&:hover {
			opacity: 0.8;
			background-color: #d9d9d9;
			transition: all 0.3s;
		}
	}

	> div:last-child {
		border-bottom: none;
	}

	> .disabled {
		cursor: not-allowed;
		color: #00000040;

		&:hover {
			background-color: white;
			opacity: 1;
		}
	}
}

.hide {
	display: none;
}
.group {
	display: flex;
	align-items: center;
	width: max-content;
	flex: 1;
}
.item {
	padding: 0px 30px 0 20px;
	height: calc(@header-height - 3px);
	width: max-content;
	margin-right: 2px;
	white-space: nowrap;
	// border-top-left-radius: 6px;
	// border-top-right-radius: 6px;
	background-color: rgba(0, 0, 0, 0.1);
	// border: 1px solid rgba(5, 5, 5, 0.1);
	border-bottom: 0;
	cursor: pointer;
	display: flex;
	position: relative;
	align-items: center;

	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
	}

	.closeIcon {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 6px;
		background-color: rgba(0, 0, 0, 0.1);
		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}

.checked {
	background-color: rgba(82, 76, 247, 0.8);
	&:hover {
		background-color: rgba(82, 76, 247, 0.9);
	}
	color: #f3f3f3;
	.closeIcon {
		background-color: rgba(255, 255, 255, 0.8);
		color: #686868;
		&:hover {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
}
